:root {
	--dark: #161a1d;
	--offwhite: #fffaf3;
	--pink: #ef4357;
	--green: #0f0;
	--yellow: #ff0;
	--blue: #0ef;
	--black03: rgba(0, 0, 0, 0.3);
	--black08: rgba(0, 0, 0, 0.8);
	--title: "Bebas Neue", serif;
	--body: "Montserrat", serif;
	--text: 16px;
	--h1: 35px;
	--h2: 24px;
	--label: 12px;
	--standard-margin: 20px;
	--standard-padding: 10px;
	--small-mp: 5px;
}
* {
	box-sizing: border-box;
}
body {
	background-color: #161a1d;
	color: var(--offwhite);
	font-family: var(--body);
	font-weight: 400;
	font-size: var(--text);
	line-height: 1.5;
	margin: 0;
}
main {
	margin: var(--standard-margin);
}
section {
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-family: var(--title);
	font-size: var(--h1);
	letter-spacing:2px;
}
h2 {
	font-family: var(--title);
	font-size: var(--h2);
}
a {
	color: var(--pink);
	border-bottom: 1px solid;
	text-decoration: none;
	transition: opacity 0.3s ease, color 0.4s ease-in;
}
a:hover,
a:focus {
	border-bottom: none;
}
a:visited {
	opacity: 0.8;
}
a:active {
	opacity: 0.7;
	color: var(--green);
}
button,
.button__link {
	background-color: var(--pink);
	color: var(--dark);
	font-family: var(--title);
	display: inline-block;
	font-size: var(--text);
	letter-spacing: 1px;
	line-height: 1;
	text-decoration: none;
	padding: var(--standard-padding);
	border-radius: 5px;
	text-transform: uppercase;
	border: 2px solid var(--dark);
	margin: var(--standard-margin) 0;
	box-shadow: 4px 6px var(--black08);
	transition: opacity 0.2s ease-in, box-shadow 0.3s ease;
}
.button__secondary,
.button__link {
	background-color: var(--green);
}
.button__link {
	display: inline-block;
	text-align: center;
}
.button__link a {
	color: var(--dark);
	border-bottom: none;
}
button:hover,
button:focus,
.button__link:hover,
.button__link:focus {
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 3px 5px var(--black08);
}
button:active,
.button__link:active {
	box-shadow: none;
}

/* HEADER */

.page-header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: var(--standard-padding);
	background-color: var(--black03);
}
.page-header__item {
	flex: 0 1 100px;
	padding: var(--small-mp);
	margin: var(--small-mp);
}
.page-header__item:first-child {
	max-width: 300px;
	height: 100%;
	width: 100%;
}
.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}
.navigation-list {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
}
.navigation-list li {
	margin-left: 15px;
	flex-grow: 1;
}
.navigation-list li a {
	text-transform: uppercase;
	font-weight: 500;
	text-shadow: -2px -2px var(--black08);
	letter-spacing: 1px;
	padding: var(--small-mp);
	position: relative;
	transition: transform 0.3s ease-in-out, opacity 0.2s ease;
	border: none;
	display: inline-block;
}
.navigation-list li a:hover,
.navigation-list li a:focus {
	animation: pulsate 1s ease infinite;
}
.navigation-list__item--active {
	opacity: 0.3;
}

/* HOMEPAGE */

.profile {
	max-width: 700px;
	margin: var(--standard-margin) auto;
	display: flex;
	flex-wrap: wrap;
}
.profile__portrait,
.profile__text,
.profile__button {
	flex: 1 0 calc(50% - var(--standard-margin) );
	align-items: center;
}
.profile__portrait {
	width: 100%;
	height: auto;
	max-width: 200px;
}
.profile__text {
	text-align: center;
	padding:0 30px;
}
.profile__button {
	flex-basis: 100%;        
    flex-grow: 0;             
    flex-shrink: 0;
	margin-top:50px
}
/* ABOUT */

.about-page ul {
	padding: 0;
}
.about-page li {
	list-style: none;
}
.frankfurt-illustration {
	max-width: 100%;
	height: auto;
	margin: 50px auto 0;
}
.ffm__windows-1 {
	animation: 2s windows-on-off infinite alternate linear;
}

.ffm__light-bridge {
	stroke: var(--yellow); /* Initial stroke color */
	stroke-width: 1; /* Initial stroke thickness */
	filter: drop-shadow(0 0 5px var(--yellow)); /* Initial shadow for glow */
	animation: 5s lights-glow infinite alternate ease-in-out;
}
.ffm__light-skyscraper {
	animation: 1.3s lights-blink infinite alternate ease-in-out;
}
.ffm__text {
	animation: 2s move-in alternate linear;
}
/* WORK */

/* start grid fallback */
.work-list__item {
	display: inline-block;
	width: 25%;
}
/* end grid fallback */
@supports (display: grid) {
	.work-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px;
	}
	.work-list__item {
		background-color: var(--black03);
		border: 2px solid var(--green);
		margin: 0;
		padding: var(--standard-padding);
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
	}
	.work-list__item div {
		margin-top: auto;
	}
}
.work-list__item:nth-child(5),
.work-list__item:nth-child(6) {
	grid-column-start: span 2;
}

/*CONTACT*/
form {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}
label,
.contact-links span {
	opacity: 0.2;
	text-transform: uppercase;
	font-size: var(--label);
}
textarea {
	max-width: 100%;
}
label[for="contact_message"] {
	float: left;
}
.contact_info {
	margin: var(--small-mp) 0;
	text-align: right;
}
address {
	max-width: 500px;
	margin: 50px auto 0;
	text-align: left;
	border-top: 2px dashed var(--green);
	font-style: normal;
}
address > div {
	width: 100%;
}
.contact-links span{
	display:inline-block;
	width: 150px;
}
.contact-page button {
	margin-top: 40px;
}
.contact-page .button__link {
	margin-top:50px;
}
/* FOOTER */
.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 30px;
	background-color: var(--black03);
	position: relative;
	bottom:0;
	left:0;
	width:100%;
}
.social-media img {
	width: 30px;
	height: 30px;
}
.social-media a {
	border: none;
}
.social-media a:hover,
.social-media a:focus {
	opacity: 0.7;
}
.social-media a:visited {
	opacity: 0.6;
}
.social-media a:active {
	opacity: 0.4;
}

/* MEDIA QUERIES */

@media all and (max-width: 992px) {
	.page-header__item {
		flex: 0 1 auto;
	}
	.navigation-list li a {
		letter-spacing: 0;
	}
	.work-list {
		grid-template-columns: 1fr 1fr;
	}
	.work-list__item:nth-child(5),
	.work-list__item:nth-child(6) {
		grid-column-start: auto;
	}
}
@media all and (max-width: 768px) {
	.page-header {
		flex-direction: row-reverse;
		flex-wrap: wrap;
	}
	.page-header__item {
		flex-basis: 100%;
	}
	.navigation-list li {
		margin: 0 auto;
	}
	.profile__portrait, .profile__text, .profile__button {
		flex-basis: 100%;
		margin: 0 auto
	}
	.work-list {
		grid-gap: 10px;
	}
	.work-list__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1 {
		font-size: var(--h2);
	}
}
@media all and (max-width: 480px) {
	.page-header__item:last-child {
		text-align: center;
	}
	.work-list {
		grid-template-columns: 1fr;
	}
}
@media all and (max-width: 350px) {
	.page-header__item:last-child {
		text-align: right;
	}
	.navigation-list {
		flex-flow: column nowrap;
	}
	.navigation-list li {
		margin: var(--small-mp) 0;
	}
}

@keyframes pulsate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes windows-on-off {
	0% {
		fill: var(--green);
	}
	50% {
		fill: var(--blue);
	}
	100% {
		fill: var(--dark);
	}
}
@keyframes lights-glow {
	0%,
	100% {
		stroke: var(--yellow);
		filter: drop-shadow(0 0 5px var(--yellow));
	}
	50% {
		stroke: var(--offwhite);
		filter: drop-shadow(0 0 10px var(--offwhite));
	}
}
@keyframes lights-blink {
	0%,
	100% {
		fill: var(--pink);
	}
	50% {
		fill: var(--offwhite);
	}
}
@keyframes move-in {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-1000px);
	}
	80% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}
	85% {
		animation-timing-function: ease-in;
		transform: translateY(1px);
	}
	90% {
		animation-timing-function: ease-in;
		transform: translateY(-5px);
	}
	98% {
		animation-timing-function: ease-in;
		transform: translateY(0.5px);
	}
	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}
