:root {
	--dark: #161a1d;
	--offwhite: #fffaf3;
	--pink: #ef4357;
	--green: #0f0;
	--yellow: #ff0;
	--blue: #0ef;
	--gray: #adaba9;
	--gray01: rgba(233, 230, 227, 0.1);
	--gray03: rgba(233, 230, 227, 0.3);
	--gray08: rgba(233, 230, 227, 0.85);
	--black03: rgba(0, 0, 0, 0.3);
	--black08: rgba(0, 0, 0, 0.85);
	--black09: rgba(0, 0, 0, 0.95);
	--title: 'Bebas Neue', serif;
	--body: 'Montserrat', serif;
	--text: 16px;
	--h1: 70px;
	--h2: 45px;
	--h3: 35px;
	--h4: 30px;
	--h5: 20px;
	--label: 12px;
	--medium-margin: 40px;
	--standard-margin: 20px;
	--standard-padding: 10px;
	--small-mp: 5px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--body);
	font-weight: 400;
	font-size: var(--text);
	line-height: 1.5;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}
body[data-theme='dark'] {
	background-color: var(--dark);
	color: var(--offwhite);
}

body[data-theme='light'] {
	background-color: var(--offwhite);
	color: var(--dark);
}
.container {
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}

main {
	margin: var(--standard-margin);
	flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--title);
	letter-spacing: 2px;
	text-align: center;
}
h1 {
	font-size: var(--h1);
	font-weight: 700;
}

h2 {
	font-size: var(--h2);
}
h3 {
	font-size: var(--h3);
}
h4 {
	font-size: var(--h4);
}
h5 {
	font-size: var(--h5);
	margin-bottom: 0;
}
a {
	color: var(--pink);
	border-bottom: 1px solid;
	text-decoration: none;
	transition: opacity 0.3s ease, color 0.4s ease-in;
}

a:hover,
a:focus {
	border-bottom: none;
}

a:visited {
	opacity: 0.8;
}

a:active {
	opacity: 0.7;
	color: var(--green);
}
.bold {
	font-weight: 700;
}
.italic {
	font-style: italic;
	font-weight: 400 !important;
}
span.bold,
span.italic {
	text-transform: none !important;
	color: var(--offwhite) !important;
}
.hidden {
	display: none;
}
button,
.button__link {
	background-color: var(--pink);
	color: var(--dark);
	font-family: var(--title);
	display: inline-block;
	font-size: var(--text);
	letter-spacing: 1px;
	line-height: 1;
	text-decoration: none;
	padding: var(--standard-padding);
	border-radius: 5px;
	text-transform: uppercase;
	border: 2px solid var(--dark);
	margin: var(--standard-margin) 0;
	box-shadow: 4px 6px var(--black08);
	transition: opacity 0.2s ease-in, box-shadow 0.3s ease;
}

.button__link {
	background-color: var(--green);
	display: inline-block;
	text-align: center;
}

.button__link a {
	color: var(--dark);
	border-bottom: none;
}

button:hover,
button:focus,
.button__link:hover,
.button__link:focus {
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 3px 5px var(--black08);
}

button:active,
.button__link:active {
	box-shadow: none;
}

/* HEADER */
.page-header {
	width: 100%;
	padding: 15px;
	background-color: var(--black03);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
body[data-theme='light'] .page-header {
	background-color: var(--gray03);
}

.page-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.logo {
	width: 250px;
	max-width: 100%;
	height: auto;
}
.main-navigation {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	z-index: 1000000;
}

.navigation-list {
	list-style: none;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 0;
	margin: 0 70px 0 0;
}

.navigation-list li {
	margin-left: 15px;
}

.navigation-list li a,
.contact-links a {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	padding: var(--small-mp);
	transition: transform 0.3s ease-in-out, opacity 0.2s ease;
	border: none;
	display: inline-block;
}

.navigation-list li a:hover,
.navigation-list li a:focus,
.contact-links a:hover,
.contact-links a:focus {
	animation: pulsate 1s ease infinite !important;
}

.main-navigation .navigation-list li a.navigation-list__item--active {
	font-weight: 800;
}

/* Projects dropdown submenu */
.nav-dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	list-style: none;
	padding: 10px;
	top: 30px;
	left: 0;
	background: var(--black09);
	text-align: left;
	transition: 0.3s ease-in-out;
}
body[data-theme='light'] .dropdown-menu {
	background-color: #f7f5ee;
}
.dropdown-menu li {
	padding: 5px 0;
}

.dropdown-menu a {
	color: var(--pink);
	text-decoration: none;
	display: block;
	padding: 5px 10px;
}
.navigation-list li .dropdown-menu a {
	font-weight: 400;
}

.nav-dropdown:hover .dropdown-menu {
	display: block;
}
.nav-dropdown > a {
	position: relative;
	padding-right: 20px !important;
}

.nav-dropdown > a::after {
	content: '›';
	font-size: 20px;
	color: var(--pink);
	position: absolute;
	right: 5px;
	top: 45%;
	transform: translateY(-50%);
	transition: transform 0.4s ease-in-out;
}

.nav-dropdown:hover > a::after,
.nav-dropdown:focus > a::after {
	transform: translateY(-50%) rotate(90deg);
}
.menu_cs {
	border-top: 2px solid var(--pink);
}
/* Hamburger Button (Mobile) */
.hamburger-menu {
	display: none;
	flex-direction: column;
	gap: 5px;
	border: none;
	background: none;
	cursor: pointer;
	padding: 10px;
	z-index: 11000;
	position: absolute;
	top: 7.5px;
	right: 5px;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
}
.hamburger-menu:hover,
.hamburger-menu:focus,
.hamburger-menu:active {
	box-shadow: none;
	border-radius: 0;
}
.hamburger-menu .bar {
	display: block;
	width: 24px;
	height: 2.5px;
	transition: transform 0.3s, opacity 0.3s;
	transform-origin: center;
	background-color: var(--offwhite);
}
body[data-theme='light'] .hamburger-menu .bar {
	background-color: var(--dark);
}
/* HAMBURGER ICON ANIMATION */
.hamburger-menu.active .bar:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

/* Theme Toggle */
.theme-switch {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
}
.theme-toggle {
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 11000000;
	width: 65px;
	height: 25px;
}
.theme-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	top: 10px;
	cursor: pointer;
	background-color: var(--gray01);
	width: 100%;
	height: 100%;
	border-radius: 30px;
	transition: background 0.4s;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
}

.slider .icon {
	width: 18px;
	height: 18px;
	transition: opacity 0.3s ease-in-out;
	position: absolute;
}

/* Moon icon (should be visible in light mode) */
.moon {
	left: 8px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

/* Sun icon (should be visible in dark mode) */
.sun {
	right: 8px;
	opacity: 0.3;
	transition: opacity 0.3s ease-in-out;
}
.knob {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: var(--dark);
	border-radius: 50%;
	top: 2px;
	transition: transform 0.4s;
	left: 2px;
}
/* When checkbox is checked (Light Mode) */
.theme-switch input:checked + .slider {
	background-color: var(--gray08);
}
/* Move knob right in light mode */
.theme-switch input:checked + .slider .knob {
	transform: translateX(40px);
	background-color: var(--offwhite);
}

.theme-switch input:checked + .slider .moon {
	opacity: 1;
}

.theme-switch input:checked + .slider .sun {
	opacity: 0;
}

/* HOMEPAGE */

.profile {
	max-width: 700px;
	margin: var(--standard-margin) auto;
	display: flex;
	flex-wrap: wrap;
}

.profile__portrait,
.profile__text,
.profile__button {
	flex: 1 0 calc(50% - var(--standard-margin));
	align-items: center;
}

.profile__portrait svg {
	width: 100%;
	height: auto;
	max-width: 200px;
}

.avatar-bg {
	animation: 1.5s blink-on infinite alternate ease-in-out;
	transform-origin: center;
}

.avatar-cheek_ri,
.avatar-cheek_le {
	animation: 1s mini-pulsate infinite alternate ease-in-out;
}

.profile__text {
	text-align: center;
	padding: 0 30px;
}

.profile__button {
	flex-basis: 200px;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 50px auto 0;
}

@supports (display: grid) {
	.profile {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-gap: var(--standard-margin);
	}

	.profile__portrait {
		grid-area: 1 / 1 / 3 / 2;
		align-self: center;
	}

	.profile__text {
		grid-area: 1 / 2 / 2 / 3;
		padding: 0;
	}

	.profile__button {
		grid-area: 2 / 2 / 3 / 3;
		max-width: 200px;
		margin-top: var(--standard-margin);
	}
}
/* ABOUT */
.jas_img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid var(--blue);
	object-fit: cover;
	object-position: 50% 30%;
	animation: 1s border-pulsate infinite alternate ease-in-out;
}
.about-page h1 {
	margin-bottom: 10px;
}
.about-page ul {
	padding: 0;
}

.about-page li {
	list-style: none;
}

.theme-svg {
	max-width: 100%;
	height: auto;
	margin: 50px auto 0;
}

.ffm__windows-1 {
	animation: 2s windows-on-off infinite alternate linear;
}
.ffm__sun {
	animation: 5s lights-glow infinite alternate ease-in-out;
}
.ffm__light-bridge {
	stroke: var(--yellow);
	stroke-width: 1;
	filter: drop-shadow(0 0 5px var(--yellow));
	animation: 5s lights-glow infinite alternate ease-in-out;
}

.ffm__light-skyscraper {
	animation: 1.3s lights-blink infinite alternate ease-in-out;
}

.ffm__text {
	animation: 2s move-in alternate linear ease-in;
}
.ffm_sun {
	animation: 5s lights-glow infinite alternate ease-in-out;
}
/* PROJECTS */
/* start grid fallback */
.work-list__item {
	display: inline-block;
	width: 23%;
	background-color: var(--black03);
	border: 2px solid var(--green);
	padding: var(--standard-padding);
	margin: 1%;
	vertical-align: top;
	min-height: 260px;
	position: relative;
}

/* end grid fallback */
@supports (display: grid) {
	.work-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 20px;
		justify-content: center;
		grid-auto-flow: dense;
	}

	.work-list__item {
		margin: 0;
		width: auto;
		height: auto;
		min-height: auto;
		display: flex;
		flex-direction: column;
	}

	.work-list__item div {
		margin-top: auto;
	}
}

.work-list__item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--black08);
}
body[data-theme='light'] .work-list__item::before {
	background-color: var(--gray08);
}
.work-list__item {
	background-size: cover;
}
.Eventify {
	background-image: url(../img/Eventify.png);
}
.DojoDB {
	background-image: url(../img/DojoDB.png);
}
.MiniMon {
	background-image: url(../img/MiniMon.png);
}
.DojoDB-API {
	background-image: url(../img/DojoDB-API.png);
}
.Chatterbox {
	background-image: url(../img/Chatterbox.png);
}
.ShadowKick {
	background-image: url(../img/ShadowKick.png);
}
.CaseStudy {
	background-image: url(../img/CS_DojoDB_wireframe.jpg);
}
.work-list__inner {
	position: relative;
}
.work-list__item:nth-child(5),
.work-list__item:nth-child(6) {
	grid-column-start: span 2;
}
.project-link h2,
.project-link p {
	color: var(--offwhite);
}
body[data-theme='light'] .project-link h2,
body[data-theme='light'] .project-link p {
	color: var(--dark);
}
.project-link:hover h2,
.project-link:focus h2 {
	color: var(--pink) !important;
}

/* PROJECT SINGLE */
.project-img {
	margin-top: var(--medium-margin);
}
.project-img img,
.video-box video {
	border: 2px solid var(--green);
	padding: var(--standard-padding);
	max-width: 100%;
}
.project-descr {
	line-height: 200%;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.project-descr ul {
	text-align: left;
	list-style: none;
	padding-left: var(--standard-margin);
}
.project-descr ul ul {
	margin-left: 30px;
}
.project-descr li {
	margin: 10px 0;
	position: relative;
}
.project-descr li::before {
	content: '•';
	color: var(--pink);
	position: absolute;
	left: -20px;
}
.project-descr ul ul li::before {
	content: '•';
	color: var(--blue);
}
.project-descr span {
	font-weight: 600;
	text-transform: uppercase;
}
.project-inner {
	flex: 1;
	padding: var(--standard-margin);
}
.project-inner:last-child {
	flex: 1 1 100%;
}
h4 {
	margin-top: 50px;
}
.btn-box {
	display: flex;
	justify-content: center;
	gap: var(--standard-margin);
}
video {
	width: 500px;
	max-width: 90%;
}
.video-box label {
	display: block;
	font-size: var(--text);
	font-family: var(--title);
	letter-spacing: 1px;
	color: var(--green);
	text-align: center;
}
/*Case study*/
.cs-item {
	display: block;
}
.cs-inner h2 {
	letter-spacing: 3px;
	margin: 20px 0 0;
}
.cs-inner h3 {
	font-size: 25px;
}
.cs-inner ul {
	max-width: 700px;
	margin: 0 auto;
}

.project-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}
.half_width {
	flex: 1 1 calc(50% - 20px);
}
.cs-inner .half_width h3 {
	margin-top: 50px;
}
.cs-inner img {
	max-width: 700px;
	max-height: 700px;
}
.cs-inner span {
	color: var(--pink);
}

/*CONTACT*/
form {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

label,
.contact-links span {
	color: var(--gray);
	text-transform: lowercase;
	font-size: var(--label);
}
textarea,
input {
	border-radius: 0;
	line-height: 180%;
	border: 2px solid var(--green);
	padding: 5px;
	font-family: var(--body);
}
textarea {
	max-width: 100%;
	width: 100%;
}

label {
	display: block;
	text-align: left;
}
.contact_info {
	margin: var(--small-mp) 0;
	text-align: right;
}
.contact-address p {
	text-align: center;
}
address {
	max-width: 500px;
	margin: 50px auto 0;
	text-align: left;
	border-top: 2px dashed var(--green);
	font-style: normal;
}

address > div {
	width: 100%;
}

.contact-page h3 {
	margin-bottom: 0;
}
.contact-links {
	display: flex;
	justify-content: center;
}
.contact-page .button__link {
	margin-top: 50px;
}
input:focus-visible,
textarea:focus-visible {
	outline: 2px solid var(--blue);
}

.contact-links img {
	width: 35px;
	height: 35px;
}
.contact-links span {
	padding: 0 5px;
}
.contact_bottom {
	display: flex;
	justify-content: space-between;
}
/* FOOTER */
.page-footer {
	margin-top: 30px;
	padding: var(--small-mp);
	background-color: var(--black03);
}
body[data-theme='light'] .page-footer {
	background-color: var(--gray03);
}
.page-footer .container {
	display: flex;
	justify-content: space-between;
}
.page-footer p {
	font-size: 11px;
	text-transform: uppercase;
	align-items: flex-end;
}

.social-media img {
	width: 30px;
	height: 30px;
	padding: 0 5px;
	align-items: flex-end;
}
body[data-theme='light'] .social-media img,
body[data-theme='light'] .contact-links img {
	filter: invert(1);
}
.social-media a,
.contact-links a {
	border: none;
}

.social-media a:hover,
.social-media a:focus,
.contact-links a:hover,
.contact-links a:focus {
	opacity: 0.5;
}

.social-media a:visited,
.contact-links a:visited {
	opacity: 0.45;
}

.social-media a:active,
.contact-links a:active {
	opacity: 0.3;
}

/* MEDIA QUERIES */
@media all and (max-width: 1024px) {
	.project-flex {
		display: block;
	}
}

@media all and (max-width: 992px) {
	.main-navigation {
		text-align: center;
	}

	.navigation-list li a {
		letter-spacing: 0;
	}

	.work-list__item {
		width: 100%;
		margin: 5px auto;
		min-height: auto;
	}

	@supports (display: grid) {
		.work-list {
			grid-template-columns: 1fr 1fr;
		}

		.work-list__item:nth-child(5),
		.work-list__item:nth-child(6) {
			grid-column-start: auto;
		}
	}
}
@media all and (max-width: 830px) {
	.hamburger-menu {
		display: flex;
	}

	.main-navigation {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: var(--dark);
		text-align: center;
		padding: 15px 0;
		border-bottom: 5px solid var(--blue);
		box-shadow: 10px 10px 15px var(--dark);
	}
	body[data-theme='light'] .main-navigation {
		background-color: var(--offwhite);
	}
	.main-navigation.active {
		display: flex;
	}

	.navigation-list {
		flex-direction: column;
		gap: 15px;
		margin-right: 0;
	}

	.navigation-list li {
		margin: 0;
	}
	.theme-toggle {
		right: 50px;
		top: 3.5px;
	}

	.dropdown-menu {
		top: 0;
		left: 100%;
	}
}
@media all and (max-width: 768px) {
	h1 {
		font-size: var(--h2);
	}
	h2 {
		font-size: var(--h3);
	}
	h3 {
		font-size: var(--h4);
	}
	h4 {
		font-size: var(--h5);
	}

	.profile__portrait svg,
	.profile__text,
	.profile__button {
		flex-basis: 100%;
		margin: 0 auto;
	}

	.work-list__item {
		width: 100%;
		margin: var(--small-mp) auto;
		min-height: auto;
	}
	.project-descr {
		flex-direction: column;
	}
	@supports (display: grid) {
		.profile {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
		}

		.profile > div {
			grid-column: 1 / 2;
			grid-row: auto;
		}

		.work-list {
			grid-gap: 10px;
		}

		.work-list__item:last-child {
			grid-column: auto / auto;
			grid-row: auto / auto;
		}
	}
}
@media all and (max-width: 500px) {
	.page-header .container {
		display: block;
		margin-top: 50px;
	}
	.contact_bottom {
		flex-wrap: wrap;
	}
	.contact_bottom button {
		margin-left: auto;
	}
	.contact_info:first-child {
		margin-right: 10px;
	}
}
@media all and (max-width: 480px) {
	@supports (display: grid) {
		.work-list {
			grid-template-columns: 1fr;
		}
	}
	.contact-links span,
	label {
		display: block;
	}
	.contact_info {
		text-align: left;
	}
	.page-footer .container {
		flex-flow: column nowrap;
	}
}

@media all and (max-width: 350px) {
	.contact_bottom {
		flex-flow: column nowrap;
	}
	.contact_info {
		margin-left: auto;
	}
	.contact_info:first-child {
		margin-right: 0;
	}
	.navigation-list li {
		margin: var(--small-mp) 0;
	}
}

@keyframes blink-on {
	0%,
	100% {
		transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(0.98);
		opacity: 0.4;
	}
}
@keyframes border-pulsate {
	0% {
		border-width: 2px;
		border-color: var(--green);
	}
	100% {
		border-width: 3px;
		border-color: var(--pink);
	}
}
@keyframes mini-pulsate {
	0% {
		stroke: var(--pink);
		stroke-width: 3;
	}

	100% {
		stroke: none;
	}
}

@keyframes pulsate {
	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}
}

@keyframes windows-on-off {
	0% {
		fill: var(--green);
	}

	50% {
		fill: var(--blue);
	}

	100% {
		fill: var(--dark);
	}
}

@keyframes lights-glow {
	0%,
	100% {
		stroke: var(--yellow);
		filter: drop-shadow(0 0 5px var(--yellow));
	}

	50% {
		stroke: var(--offwhite);
		filter: drop-shadow(0 0 10px var(--offwhite));
	}
}

@keyframes lights-blink {
	0%,
	100% {
		fill: var(--pink);
	}

	50% {
		fill: var(--offwhite);
	}
}

@keyframes move-in {
	0% {
		opacity: 0;
		transform: translateX(-1000px);
	}

	80% {
		transform: translateY(-8px);
	}

	85% {
		transform: translateY(1px);
	}

	90% {
		transform: translateY(-5px);
	}

	98% {
		transform: translateY(0.5px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}
